.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  font-family: var(--font-geist-sans);
  background-color: var(--background);

}