.blog {
    height: auto;
    width: '100%';
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 0;

    @media (max-width: 1000px) {
        gap: 30px
    }

    .chip {
        background-color: var(--primary-light);
        border-radius: 25px;
        color: var(--primary);
        padding: 10px 25px;
        font-weight: bold;
    }

    .blogPosts {
        display: flex;
        gap: 50px;

        @media (max-width: 1000px) {
            overflow: auto;
            width: 100%;
            padding: 0 20px;
            gap: 20px;
        }

        .postCard {
            display: flex;
            flex-direction: column;
            width: 400px;
            min-height: 400px;
            background: transparent;
            border: solid 1px #a0a0a06b;
            border-radius: 25px;
            flex: 1;

            @media (max-width: 1000px) {
                width: 250px;
                min-height: 250px;
            }

            img {
                width: 400px;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;

                @media (max-width: 1000px) {
                    width: 250px;
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                padding: 20px;
                gap: 20px;
                height: 100%;
                justify-content: space-between;

                @media (max-width: 1000px) {
                    padding: 10px 15px 5px 15px;
                }


                a {
                    color: var(--primary);
                    font-weight: bold;
                    font-size: 1em;
                }


            }

        }
    }

}