.landingContent {
    display: flex;
    background: radial-gradient(circle, rgba(255, 242, 236, 1) 0%, rgba(255, 255, 255, 1) 63%, rgba(250, 243, 235, 1) 100%);
    height: 90vh;
    width: 100vw;
    gap: 50px;
    padding: 70px 80px;

    @media (max-width: 1000px) {
        flex-direction: column-reverse;
        padding: 30px;
        gap: 15px;
        margin-top: 120px
    }

    &>* {
        flex: 1 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div {
        &:last-child {
            @media (max-width: 1000px) {
                align-items: center;
            }
        }
    }


    .content {
        display: flex;
        gap: 30px;

        @media (max-width: 1000px) {
            justify-content: center;
            text-align: center;
        }

        span {
            color: var(--primary);
        }
    }

    .image {
        object-fit: contain;
        width: 55vw;

        @media (max-width: 1000px) {
            width: 90vw;
        }
    }

    .buttons {
        display: flex;
        gap: 25px;

        @media (max-width: 1000px) {
            flex-direction: column;
        }

        .button {
            padding: 20px 30px;
            border-radius: 35px;
            font-weight: bold;
            font-size: 1em;
            text-align: center;

            &:first-child {
                background-color: var(--primary);
                box-shadow: 0 8px 24px #ffaca8a8;
                color: white;
            }

            &:last-child {
                background-color: transparent;
                border: 2px solid black;
                color: black;
            }

        }
    }

}