.addCoworkModal {
    z-index: 10000;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.274);
    display: flex;
    justify-content: center;
    align-items: center;


    .modal {
        position: relative;
        background-color: white;
        padding: 25px;
        border-radius: 25px;
        height: 600px;
        width: 600px;
        display: flex;
        flex-direction: column;
        color: black;

        @media (max-width: 1000px) {
            width: 90vw;
        }

        h4 {
            text-align: center;
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
            margin-bottom: 5px;

            span {
                color: #ff4d0087;
            }
        }

        input {
            border-radius: 15px;
            height: 45px;
            background-color: white;
            margin-bottom: 20px;
            color: black;
            padding: 0 10px;
            border: solid 1px grey;

            &:active,
            &:focus {
                outline: none !important;
                border: solid 1px var(--primary);
                box-shadow: 0 0 5px #ff4d0087;
            }
        }

        button {
            margin-top: 15px;
            padding: 15px 30px;
            border-radius: 35px;
            font-weight: bold;
            font-size: 1em;
        }

        .button {
            background-color: var(--primary);
            box-shadow: 0 8px 24px #ffaca8a8;
        }

        .sentButton {
            background-color: green;
        }


        img {
            height: 24px;
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
        }

        .error {
            color: #d00202;
            font-weight: bold;
        }
    }
}