.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 0 100px 0;
    background: radial-gradient(circle, rgba(255, 242, 236, 1) 0%, rgba(255, 255, 255, 1) 63%, rgba(250, 243, 235, 1) 100%);

    @media (max-width: 1000px) {
        gap: 30px
    }

    .header {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
            color: black;
        }
    }


    .chip {
        background-color: var(--primary-light);
        border-radius: 25px;
        color: var(--primary);
        padding: 10px 25px;
        font-weight: bold;
    }

    .content {
        display: flex;
        gap: 50px;

        @media (max-width: 1000px) {
            flex-direction: column-reverse;
            align-items: center;
        }

        .detailsContainer {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        button {
            background: #111827;
            color: white;
            padding: 15px 25px;
            border: 2px solid #000;
            border-radius: 30px;
            font-weight: bold;
        }
    }
}

.plan {
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    .planContainer {
        height: 500px;
        width: 650px;
        border-radius: 25px;

        @media (max-width: 1000px) {
            width: 80vw;
        }
    }

    .marker {
        background: transparent;
        border: transparent;
    }
}